body,input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
/*    background: #eee; */
    background: #fff;
    color: #585858;
    margin:0;
}

body{overflow:auto;height:100%;}

ul.error_list {
  COLOR: red;
  list-style:none;
}

.user_error {
  COLOR: red;
  display:inline;
}

.error {
  COLOR: red;
}

span.user_error {
  COLOR: red;
  display:inline;
}

span.error {
  COLOR: red;
}

.admin_row_even {
  background-color: #fbfbfa;
  line-height: 1.2em;
  color: #000000;
  cellspacing:2px;
  cellpadding:2px;
}
.admin_row_odd {
  background-color: #E4E4E4;
  line-height: 1.2em;
  color: #00000;
  cellspacing:2px;
  cellpadding:2px;

}
.admin_row_hover {
  background-color: #fffaa2;
  line-height: 1.2em;
  color: #333;
}


.row_even {
  background-color: #fbfbfa;
  line-height: 1.2em;
  color: #714949;
  cellspacing:2px;
  cellpadding:2px;
}
.row_odd {
  background-color: #E4E4E4;
  line-height: 1.2em;
  COLOR: #3e3e3e;
  cellspacing:2px;
  cellpadding:2px;
}
.row_hover {
  background-color: #fffaa2;
  line-height: 1.2em;
  COLOR: #333;
}
.readonly_field {
  border: 1px dotted gray;
}
#menu a:hover, #menu a.current_admin_menu {
	color:#008080;
  position:relative; top:-1px;
}
#menu .current_admin_menu a {
  background: #fff;
  color: #333;
}

	/* Menu Begin */

#menu {
	width: 960px;
	height: 30px;
	margin: 0 auto;
	border-bottom:solid 1px #777;
	color:#008080;
}

#menu ul {
	margin-left:70px;
	list-style: none;
	height:20px;
	color:#008080;
}

#menu li { float: left; }

#menu a {
	display: block;
	height: 20px;
	color:#333;
	padding: 10px 20px 0px 20px;
	text-decoration: none; text-align: center; text-transform: uppercase;
  border-right:solid 1px #fff;
	font-family:Helvetica,Arial,sans-serif;
	font-size:11px; font-weight: bold;
	line-height::20px;
}

#menu .first-item a { border-left:solid 1px #fff; }


/* Menu End */


.mainpage-menu {
margin: 5px auto;
width: 680px;
}

.mainpage-menu legend {
font-size: 16px;
color: #97271a;
text-shadow: #333 0.1em 0.1em 0.2em
}

.mainpage-menu fieldset {
width: 300px;
margin-bottom: 15px;
border: 1px solid #c7c7c7
}

.mainpage-menu a {
display: block;
font-size: 14px;
padding-left: 18px;
color: #333;
font-weight: bold;
line-height: 180%;
border-bottom: 1px dotted #c7c7c7
 }

.mainpage-menu a:hover {
color:#008080
}


.Title {
   font-size:16px;
	 color: #585858;
	 padding:0px 0 0 20px;
	 height:34px;
	 line-height:34px;
}

.ListTitle {
   font-size:16px;
	 color: #585858;
	 padding:0px 0 10px 20px;
	 height:34px;
	 line-height:34px;
}

.EditorTitle {
	 font-size:16px;
	 color: #585858;
	 padding:0px 0 10px 20px;
	 height:34px;
	 line-height:34px;
}

.Table_Editor_Conteiner {
  border: 0px dotted yellow;
}

.left td{
  align:left;
  valign:top;
	cellspacing:2px;
	cellpadding:2px;
}

.right td{
  align:right;
  valign:top;
	cellspacing:2px;
	cellpadding:2px;
}

.Table_Filter td{
	 padding: 2px 10px 2px 10px;
}

.Table_List {
	align:left;
	cellspacing:2px;
	cellpadding:2px;
	border:solid 1px #888;
}

.Table_List th {
	background:#999999;
	text-transform:lowercase;
	font-weight:bold;
	color:#fff;
	padding:4px;
}

	.Table_List th a {color:#fff;font-weight:bold;}

    .Table_List td { padding-top:3px; padding-bottom:3px;}
	.Table_List td a { color: #7f7f7f; text-decoration:none; }

    .Table_List a:hover { text-decoration:none; color:#000; }

/* nothing-found  by filtering */
	.nothing-found
	{
	   text-align:center;
	   font-size:14px;
	   font-weight:bold;
	   color:#666666;
	   margin-top:25px;
	}



.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('../images/indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

.ac_input {
	// background-color: gray;
	// color: white;
}

.recruit_last_name {
	font-weight: bold;
}

.recruit_city {
	font-style: italic;
}

/* For Login Page */
#wrap-login{
  margin:70px auto;
  width:300px;
}
#logo-login {
  margin-bottom:40px;
}
#main{
  width:300px;
}
.registerBox{
  width:250px;
  margin:0 auto;
}
.registerBox input{
  float:right;
  margin-bottom:13px;
}
.registerBox label{
  float:left;
  color:#ffffff;
  margin-top:2px;
}
#signin_username,#signin_password{
  width:181px;
  height:18px;/* sz 2013-05-21*/
}
.regSubmit{
  padding:0 80px;
}
#login-btn{
  width:92px;
  color:#202020;
}
.ErrorLine{
color:red;
margin:0 auto 13px;
width:256px;
height:20px;
background-color:#eeeeee;
text-align:center;
padding-top:4px;
}
/* sz added 2013-03-05 */
#wrapper-div {
/*  width:1400px;   */
  padding-bottom:0px;
  background-color:#dadbe0;
  font-family:"arial",sans-serif;
  margin:0 auto;
  }
#header-div{
/*  width:1400px; */
  height:96px;
  background:url("../images/header-gradient.jpg") repeat-x;
}
#header-div img {
  border-width:0px;
}
#logo_div {
  padding-top:4px;
}
#sidebar_div {
  width:200px;
  float:left;
  background-color:#dadbe0; 
  padding-bottom:246px;
}
#backend-menu-div {
  width:165px;
  padding-bottom:10px;
  float:left;
  height:303px;
}
#content-div {
/*  width:1200px;   */
  margin-left:200px;
  min-height:300px;
  /*float:right;*/
  background-color:#ffffff;
  padding:25px 0 200px 25px;
}
#category-buttons { 
  padding:0; 
  margin:0;
  list-style:none;
}
#category-buttons ul {
  margin:0;
  padding:0;
  position:relative;
  left:14px;  
  top:22px;
}
#category-buttons li {
  margin:0; 
  padding:3px 0 3px 0; 
  list-style:none;
}
#category-buttons a {
  display:block; 
  width:128px; 
  height:28px; 
  text-decoration:none; 
/*  background:url("backend-buttons-3-states.png") no-repeat;  */
	background:url('../images/backend-buttons-3-states.png') no-repeat;
}
#category-buttons li a span {
  display:none !important;
  }
a#menu-item1 {
  background-position:0 0;
}
#menu-item1:hover {
  background-position:0 -28px;
}
#currentpage1 a {
  background-position:0 -56px;
}
a#menu-item2 {
  background-position:-162px 0px;
}
#menu-item2:hover {
  background-position:-162px -28px;
}
#currentpage2 a {
  background-position:-162px -56px;
}
a#menu-item3 {
  background-position:-324px 0px;
}
#menu-item3:hover {
  background-position:-324px -28px;
}
#currentpage3 a {
  background-position:-324px -56px;
}
a#menu-item4 {
  background-position:-486px 0px;
}
#menu-item4:hover {
  background-position:-486px -28px;
}
#currentpage4 a {
  background-position:-486px -56px;
}
a#menu-item5 {
  background-position:-648px 0px;
}
#menu-item5:hover {
  background-position:-648px -28px;
}
#currentpage5 a {
  background-position:-648px -56px;
}
a#menu-item6 {
  background-position:-810px 0px;
}
#menu-item6:hover {
  background-position:-810px -28px;
}
#currentpage6 a {
  background-position:-810px -56px;
}
a#menu-item7 {
  background-position:-972px 0px;
}
#menu-item7:hover {
  background-position:-972px -28px;
}
#currentpage7 a {
  background-position:-972px -56px;
}


a#menu-item8 {
    background-position:-1134px 0px;
}
#menu-item8:hover {
    background-position:-1134px -28px;
}
#currentpage8 a {
    background-position:-1134px -56px;
}


#side-div {
  padding:0;
  margin:0px 0 7px 20px;
  color:#000;
}
.side-div-link {
  display:block;
  margin:0px 0 7px 20px;

  left:20px;  
  font-size:12px;
  color:#000000;
}
#backend-note {
  display:block;
  color:#525252;
  margin:0px;
}
#header-note {
  color:#ffffff;
  display:block;
  float:right;
  position:relative;
  top:62px;
  right:10px;
}
#header-note a {
  color:#ffffff;
}
#header-note a:hover {
  color:#bbbbbb;
}
#logo-img {
  border:0px;
  position:relative;
  top:5px;
}
#footer_text {
  margin:5px;
  padding:0;
  font-size:10px;"
}
#footer_div {
  background-color:#eef0f1;
  border-top:1px solid #4e5469;
  text-align:center;
}
/* youtube_videos page */
.backend-heading {
  font-size:20px;
  font-weight:bold;
  padding:16px;
  margin:0;
}
.backend-addnew-btn-div {
  position:relative;
  width:90px;
  height:20px;
  left:0px;
  overflow:hidden;
  top:2px;
  margin-bottom:10px;
}
.backend-addnew-btn {
  position: absolute;
  left:0px;
  top:0px;
}
.backend-addnew-btn:hover {
  top:-20px;
}
#table13 {
  margin:0 auto 8px;
  width:97%;
  color:black;
}
.page_number {
  font-weight:bold;
  color:black;
  margin:0;
  padding:0;
}
#table12 {
/*  margin:50px auto 8px;*/
  width:97%;
  font-family:"arial",sans-serif;
  font-size:12px;
  margin:5px 0 8px 0px;
  color:black;
}
#table12-h1{
  width:50px;
  border-top:solid 1px #888687;
  border-left:solid 1px #888687;
  border-bottom:solid 1px #888687;
  text-align:center;
}
.table12-h2a{
/*  width:173px; */
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:40px;
  text-align:left;
}
.table12-h2a a {
  color:#ffffff;
}
.table12-h2{
/*  width:173px; */
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:172px;
}
.table12-h2 a {
  color:#ffffff;
}
#table12-h3{
/*  width:235px;*/
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:297px;
}
.table12-h4 a {
  color:#ffffff;
}
#table12-h4{
/*  width:111px;*/
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:60px;
  text-align:center;
}
#table12-h4 a {
  color:#ffffff;
}
#table12-h5{
  width:297px;
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
}
#table12-h5 a {
  color:#ffffff;
}
#table12-h6{
  width:52px;
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
}
#table12-h7{
/*  width:220px;*/
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
}
#table12-h8{
  width:104px;
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
}
#table12-h9{
  width:103px;
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
}
#table12-h10{
  width:64px;
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
}
#table12-h11{
/*  width:159px; */
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
}
#table12-h12{
/*  width:151px;  */
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
}
#table12-h13{
/*  width:151px;  */
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:90px;
}
#table12-h13 a {
  color:#ffffff;
}
#table12-h14{
  width:46px;
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  border-right:solid 1px #888687;
  text-align:center;
}
#table12-heading{
  background-color:#58595b;
  height:22px;
  color:#ffffff;
}
.odd-row{
  height:23px;
  background-color:#ffffff;
}
.even-row{
  height:23px;
  background-color:#f9f5e9;
}
.col_1{
  border-left:solid 1px #888687;
  padding:5px;
}
.col_14{
  text-align:center;
  border-right:solid 1px #888687;
  width:50px;
}
.col_pad {
  padding:5px 10px 10px 0;
}
.col_pad_center {
  padding:5px 10px 10px 10px;
}


#field10a_div {
  width:98%;
/*  height:180px;    */
  background-color:#edecea;
  margin:20px auto 0;
  position:relative;
  padding-top:14px;
  padding-bottom:18px;
}
.sub-heading0 {
  width:98%;
  margin:0 auto;
  padding-top:20px;
  padding-bottom:15px;
  line-height:18px;
}
.sub-heading4 {
  margin-left:0px;
  color:#000;
}
.sub-heading4a {
  position:absolute;
  left:175px;
}
.sub-heading5 {
  width:16px;
  height:16px;
  border:solid 1px #888687;
  float:right;
  text-align:center;
  background-color:#fff;
  line-height:16px;
  margin-right:15px;
  position:relative;
  top:2px;
}
.sub-heading6 {
  float:right;
  color:#000;
  margin-top:2px;
  margin-right:15px;
}
.sub-heading7 {
  float:right;
  color:#7b7b79;
  margin-top:2px;
  margin-right:15px;
}
.row_border{
  height:0px;
  border-top:solid 1px #888687;
}
.list_title_link {
  color:#ffffff;
}
.admin_row_even {
/*  background-color: #fbfbfa;*/
  background-color: #ffffff;
  line-height: 1.2em;
}
.admin_row_odd {
/*  background-color: #fbfbfa;*/
  background-color: #e6e7e9;
  line-height: 1.2em;
}
.admin_row_hover {
  background-color: #fffaa2;
/*  line-height: 1.2em; */
  height:23px;
}
.admin_row2_even {
  height:23px;
/*  background-color:#f9f5e9;*/
  background-color:#e6e7e9;
}
.admin_row2_odd {
  height:23px;
  background-color:#ffffff;
}
.admin_row2_hover {
  background-color: #fffaa2;
  height:23px;
}
.alignment{
  text-align:center;  
  padding-top:5px;
}
.alignment2{
  padding-top:8px;
  padding-bottom:11px;
}
.backend-edit-btn-div {
  position:relative;
  width:50px;
  height:12px;
  margin:0 auto;
  overflow:hidden;
  top:2px;
}
.backend-edit-btn {
  position: absolute;
  left:0px;
  top:0px;
}
.backend-edit-btn:hover {
  top:-12px;
}
#backend-edit-btn2-div {
  position:relative;
  width:90px;
  height:20px;
  overflow:hidden;
  margin:0;
}
#backend-edit-btn2 {
  position:absolute;
  left:0px;
  top:0px;
}
#backend-edit-btn2:hover {
  top:-20px;
}
.backend-del-btn-div {
  position:relative;
  width:50px;
  height:12px;
  margin:0 auto;
  overflow:hidden;
  top:2px;
}
.backend-del-btn {
  position: absolute;
  left:0px;
  top:0px;
}
.backend-del-btn:hover {
  top:-12px;
}
/* symfony youtube_videos page css ends here sz */
#backend-edit-btn3 {
  position:absolute;
  left:100px;
  top:0px;
}
#backend-edit-btn3:hover {
  top:-20px;
  cursor:pointer;/* sz 2013-05-21 */
}
#backend-edit-btn3-div {
  position:relative;
/*  bottom:10px;  sz 2013-05-21*/
  width:191px;
  height:20px;
  overflow:hidden;
  margin:0px 16px 0;
  top:17px;
}
#backend-edit-btn7-div {
  position:relative;
/*  bottom:10px;  sz 2013-05-21*/
  width:191px;
  height:20px;
  overflow:hidden;
  margin:0px;
  top:17px;
}
#backend-filter-btn-div {
  position:relative;
  width:90px;
  height:20px;
  margin:0 auto;
  overflow:hidden;
  top:0px;
  cursor:pointer;/* sz 2013-05-21 */
}
#backend-filter-btn {
  position: absolute;
  left:0px;
  top:0px;
}
#backend-filter-btn:hover {
  top:-20px;
}
#list_table {
  background-color:#ebecf1;
  height:30px;
  padding:5px 15px 5px;
  margin-bottom:30px;
  }
.div_text_style {
  font-size:12px;
  font-weight:bold;
  color:#000;
}
#list_table_1 {
  width:87px;
height:5px;
}
#list_table_2 {
  width:167px;
}
#list_table_3 {
  width:116px;
}
#list_table_4 {
  width:95px;
}
#list_table_5 {
  width:116px;
}
#list_table_6 {
  width:20px;
}
#list_table_7 {
  width:20px;
}
.table_center {
  text-align:center;
}
/* youtube-add page */
#video_add_form {
  display:inline-block;
  margin:20px 0 0;
  float:left;
}
#video_add_form input {
/*  padding-left:3px;
  padding-right:3px;*/
  font-family:"arial",sans-serif;
  padding:2px 3px;
}
.backend-heading2 {
  font-size:12px;
  font-weight:normal;
  padding:16px;
  margin:0;
}
.backend-heading3 {
  font-size:20px;
  font-weight:bold;
  padding:0px 0 10px;
  margin:0;
  color:#000;
  display:inline-block;
}
#video_add_form input, textarea{
  border:solid #e6e7e9 1px;
  color:#000000;
}
.video-label {
  width:70px;
  display:inline-block;
  margin:5px 0 10px 18px;
  font-size:12px;
  color:#000000;
}
.video-label2 {
  width:68px;
  position:relative;
  bottom:110px;
  margin:0px 0 10px 18px;
  font-size:12px;
  padding:2px;
  color:#000000;
  display:inline-block;
}
#video-description  {
  font-family:"arial",sans-serif;
  font-size:12px;
  padding:2px;
  height:125px;
  position:relative;
  right:2px;
  overflow:auto;
}
/* youtube_add */
#youtube_add_note {
  color:#000000;
  margin:0 0 0 16px;
}
#youtube_add_link {
  color:#000000;
  display:inline-block;
  margin:20px 0 0 16px;
  padding:0;
  text-decoration:none;
  position:relative;
  top:15px;
}
#youtube_add_link:hover {
  color:#4f5468;
}
/* youtube_edit page */
#video_edit_form {
  float:left;
  margin-top:10px;
}
#video_edit_form input, textarea{
  border:solid #e6e7e9 1px;
  color:#000000;
  padding:2px 3px;
}
.video_1 {
  display:block;
  /* margin:2px 0 0 12px;   */
  padding:0px;
  margin:5px 0 10px 93px;
  text-align:left;
  border-left:none!important;
}
#backend-edit-btn4 {
  position:absolute;
  left:100px;
  top:0px;
}
#backend-edit-btn4:hover {
  top:-20px;
}
#backend-edit-btn4-div {
  position:relative;
  top:34px;
  width:191px;
  height:20px;
  overflow:hidden;
  margin:0px 16px 0;
}
/* orders page */
#ordered_filter_state {
  width:66px;
}
.order_page {
  list-style-type:none;
  margin:0;
  padding:0;
  position:relative;
  left:-4px;
}
.order_page li {
  float:left;
  padding:5px;
}
.order_page a {
  text-decoration:none;
  color:#8c8f98; /* sz 2013-05-21 */
  font-size:12px;
}
#table12b-heading{
  background-color:#58595b;
  height:35px;
  color:#ffffff;
}
#table12d {
/*  margin:0px auto 0px; */
  width:97%;
  font-family:"arial",sans-serif;
  font-size:12px;
  color:black;
  font-weight:normal;
}

.table12a-h2a{
/*  width:173px; */
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:25px;
  text-align:center;
}
#table12a-h3{
/*  width:235px;*/
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:75px;
}
#table12b-h3{
/*  width:235px;*/
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:30px;
}
#table12a-h5{
  width:50px;
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
}
.table12-h2b{
/*  width:173px; */
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:97px;
  text-align:center;
}
.table12c-h2b{
/*  width:173px; */
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:40px;
  text-align:center;
}
.alignment10{
  text-align:center;  
  padding:6px 0 6px 0;
}
.alignment12{
  padding:6px 0 6px 0;
}
.alignment12b{
  padding:6px 10px 6px 0px;
  word-break:break-all;
}
.alignment13{
  padding:6px 5px 6px 0;
  text-align:right;
}
.alignment12a{
  padding:6px 0 6px 8px;
}
#table12-h13b{
/*  width:151px;  */
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:62px;
}
.col_14a{
  text-align:left;
  border-right:solid 1px #888687;
}
/* order_view table */
#order_view_table {
  position:relative;
  left:15px;
  color:#000000;
}
.order_view1 {
  width:62px;
}
.order_view2 {
  width:214px;
}
.order_view3 {
  width:61px;
}
.order_view4 {
  width:163px;
}
#order_view_table2 {
  position:relative;
  left:15px;
  color:#000000;
}
.order_view5 {
  background-color:#717787;
  height:10px;
}
.order_view6 {
  width:106px;
}
.order_view7 {
  width:167px;
}
.order_view8 {
  width:214px;
}
.order_view9 {
  width:214px;
}
#order_view10 {
  height:34px;
}
#order_view_table3 {
  position:relative;
  left:15px;
  color:#000000;
}
.order_view11 {
  width:383px;
}
.order_view12 {
  width:70px;
  text-align:right;
}
.order_view13 {
  width:100px;
  text-align:center;
}
.order_view14 {
  width:47px;
  text-align:right;
}
.order_view15 {
  width:127px;
  text-align:center;
}
.order_view16 {
  font-size:14px;
}
.order_view17 {
  text-align:right;
}
.order_view18 {
  border-bottom:1px solid #000000;
}
#back_to_link {
  color:#000000;
  display:inline-block;
  margin:20px 0px 100px;
  padding:0;
  text-decoration:none;
  position:relative;
  top:15px;
  cursor:pointer;
}
/* document_table */
#table12-h3a{
/*  width:235px;*/
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:175px;
}
#table12-h3b{
/*  width:235px;*/
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:83px;
}
#table12-h3c{
/*  width:235px;*/
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:58px;
}
#table12-h13c{
/*  width:151px;  */
  border-top:solid 1px #888687;
  border-bottom:solid 1px #888687;
  width:70px;
}
.document_table_page {
  display:block;
  font-weight:bold;
  position:relative;
  left:17px;
  margin:10px 0 5px;
  color:#000;
}
#table12e {
  margin:0px auto 8px;
  width:97%;
  font-family:"arial",sans-serif;
  font-size:12px;
  color:black;
}
#backend-edit-btn5-div {
  position:relative;
  bottom:129px;
  width:191px;
  height:20px;
  overflow:hidden;
  margin:0px 18px 0;
}
#backend-edit-btn6-div {
  position:relative;
  bottom:3px;
  width:192px;
  height:20px;
  overflow:hidden;
  margin:0px 18px 0;
}