
/* CSS Document */
/* Header */
/* Home Page */
/* Product Listings page */
/* Slideshow */
/* Product Detail page */

body {
  margin:0 auto 0 auto;
  font-family:arial, sans-serif;
  font-size:12px;
  font-weight:normal;
  text-decoration:none;
  background-color:#564949;
  text-align:center;
/*  background:#000 url(../images/body-bg.jpg) repeat top;*/
  background:#000 url("../images/roc-background-1228-A-2.jpg") repeat top;
}
#wrapper_div {
  font-family:arial, sans-serif;
  position:relative;
  width:951px;
  margin:0px auto 0 auto;
  text-align:left;
	overflow:hidden;
}

#header_div {
  position:relative;
  width:951px;
  height:150px;
  /* border:solid 1px black;*/
  background-color:#4C5262;
  background-image:url(../images/header-bg-slice.jpg);
  background-repeat:repeat-x;
  padding:0px;
  margin:0px;
}
#logo_div {
  position:absolute;
  width:426px;
  height:152px;
  left:0px;
  top:0px;
  /*border:solid 1px black;*/
}
#cart-div {
  position:relative;
  width:488px;
  height:30px;
  left:446px;
  top:0px;
/*  background-image:url(../images/cart-bg.jpg);  */
  }
	
#cart-div a:hover {
  color:#7c7c7c;
}
#category_txt {color:#888 !important;}
#category_txt option {color:#222 !important;}
#cart-div a span {display:none;}
#cart-div p span {display:inline-block; margin-top:4px;}
#cart-div-view-cart {width:140px; height:29px; display:block; background:url("../images/cart-div_cart.jpg") 0 0 no-repeat; float:left;}
#cart-div-view-cart:hover {background-position:0 -29px;}
#cart-div p {display:block; width:196px; height:29px; background:url("../images/cart-div_info.jpg") 0 0 no-repeat; margin:0; float:left; position:relative; }
#cart-div-check-out-now {width:150px; height:29px; display:block; background:url("../images/cart-div_checkout.png") 0 0 no-repeat; float:left;}
#cart-div-check-out-now:hover {background-position:0 -29px;}

#sign_in_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  overflow:hidden;
}
#sign-in {
  position:absolute;
  left:0px;
  top:0px;
  font-size:14px;
  display:block;
}
#sign-in:hover {
  top:-31px;
}
#sign_in_text {
  position:absolute;
  left:56px;
  top:6px;
  font-size:14px;
}
#shop_cart_div {
  position:absolute;
  left:141px;
  top:0px;
  font-size:14px;
  text-decoration:none;
  height:30px;
  overflow:hidden;
  width:145px; 
}
#shop-cart {
  position:relative;
  left:0px;
  top:0px;
  font-size:14px;
  display:block; 
}
#shop-cart:hover {
  top:-31px;
}
#items_div {
  position:absolute;
  left:286px;
  top:0px;
  width:202px;
  height:30px;
  background:url(../images/items-bg.jpg);
    
}
#number-items {
  position:absolute;
  left:28px;

	line-height:1;
  font-size:13px;
  text-decoration:none;
  color:#222; 
}
#bullet {
  position:absolute;
  left:94px;
  top:13px;
  font-size:14px;
  text-decoration:none;
  color:#000; 
}
#total-cost {
  position:absolute;
  left:116px;
	line-height:1;

  font-size:13px;
  text-decoration:none;
  color:#222; 
}
#fb_btn_div {
  position:absolute;
  width:117px;
  height:31px;
  left:447px;
  top:48px
  /* border:solid 1px black;*/
}
#fbook-btn {
  position:absolute;
  left:0px;
}
#fb_btn_div a:hover img {
  visibility:hidden;
}
#twitter-btn {
  position:absolute;
  left:38px;
}
#youtube-btn {
  position:absolute;
  left:77px;
}
#email_div {
  position:relative;
  width:246px;
  height:21px;
  left:447px;
  top:85px;
}
#ml_email {
/*  margin-left:2px; */
  position:absolute;
  left:1px;
  top:1px;
  font-size:12px; 
  height:15px;
  width:198px;
  color:#888;
/*  vertical-align:middle;*/
}
#email_btn_div {
  position:relative;
  left:198px;
  top:1px;
  width:48px;
  height:21px;
  overflow:hidden;
}
#email_btn {
  position:relative;
  left:0px;
  top:0px;
/*  background: url("../images/submit-btn-rollover.jpg") no-repeat 0 0;  */
}
#email_btn:hover {
  left:0px;
  top:-20px;
}
#search_div {
  position:absolute;
	overflow:hidden;
  width:221px;
  height:21px;
  left:718px;
  top:88px;
  /* border:solid 1px black; */
}
#search_input {
  position:absolute;
  left:0px;  
  width: 191px;
	height:15px;
  color: #888;
}
#search_btn {
  position: absolute; 
  top:0px; right:2px;
  width: 23px; 
  height: 42px; 
}
#search_btn:hover {top:-21px;}
#search_input2 {
  position:absolute;
  left:100px;
  bottom:15px;
  width:156px;
  font-family:sans-serif;
}
#search_input3 {
  position:absolute;
  left:286px;
  bottom:15px;
  width:156px;
  font-family:sans-serif;
  color:#bdbdbd;
}
#category_txt {
  position:absolute;
  width:219px;
  left:718px;
	height:21px;
	padding-top:1px;
  top:116px;
  color: #222;
}
#sign_up_txt {
  position:absolute;
  left:447px;
  top:95px;
  font-size:13px;
  color:#F4F6F5;
}
#help_txt {
  position:absolute;
  left:576px;
  top:50px;
  font-size:17px;
  color:#FDC53C;
}
/* menu starts */
a img {
  border:none;
}
#menu_div {
  position:relative;
  left:0px;
  top:0px;
  width:951px;
  height:27px;
/*  background-image:url('../images/menu-bg-2.jpg');
  background-repeat:no-repeat; */
}
#menu_ul {
  position:relative;
  float:left;
  margin: 0px;
  text-align:left;
  padding:0px;
}
#inline1 {
  display:block;
  margin:0px;
  padding:0px;  
  float:left;
  margin-top:0px;
  text-align:left;
  border-left:none!important;
}
#inline1  a:hover img {
  visibility:hidden;
}
#menu_ul li {
  display:block;
  margin:0px;
  padding:0px;  
  float:left;
  margin-top:0px;
  text-align:left;
  border-left:solid 1px; #000;
}
#menu_ul li  html a:hover  {
  visibility:invisible;
}
#menu_ul li a:hover img {
  visibility:hidden;
}

.active-section  img {visibility:hidden;}
#menu_ul img {
  vertical-align:middle;
}
/* page */
#page_body_div {
  position:relative;
  color:#000;
  width:951px;
  /*height:1262px;*/
	border-top:solid 1px black;
  padding:0 0 40px 0;
  margin:0;
  background-color:#fff;
	overflow:hidden;
}

/* left column with product buttons */
#left_column_products_div {
  width:300px;
}
.product_buttons_ul {
  position:relative;
  float:left;
  margin: 0px;
  text-align:left;
  padding:0px;
}
.product_btn {
  display:block;
  margin:10px 0 0 12px;
  padding:0px;  
  float:left;
  text-align:left;
  border-left:none!important;
  height:85px;
}
.product_btn  a:hover img {
  visibility:hidden !important;
}
#download_catalog_btn {
  display:block;
  margin:10px 0 0 12px;
  padding:0px;  
  float:left;
  text-align:left;
  border-left:none!important;
  height:65px;
}
#download_catalog_btn a:hover img {
  visibility:hidden;
}
#product-support-videos {
  display:block;
  margin:10px 0 0 12px;
  padding:0px;  
  float:left;
  text-align:left;
  border-left:none!important;
  width:276px;
  height:68px;
  margin-bottom:7px;
}
#product-support-videos h2 {
  color:#fff;
  text-align:center;
  font-size:20px;
  margin-top:10px;

}
.video_1 {
  display:block;
  /* margin:2px 0 0 12px;   */
  padding:0px;  
  margin-left:12px;
	margin-bottom:3px;
  text-align:left;
  border-left:none!important;
}
#click-here-for-more-videos  {
  display:block;
  margin:7px 0 0 12px;
  padding:0px;  
  float:left;
  text-align:left;
  border-left:none!important;
  width:277px;
  height:34px;
}
#click-here-for-more-videos span {
  color:#fff;
  display:block;
  text-align:center;
  font-size:17px;
  margin-top:5px;
}
#click-here-for-more-videos a {
  text-decoration:none;
}
/* Home Page */
#right_column_div {
  position:relative;
  float:right;
  width:640px;

  margin:10px 10px 0 0;
  text-align:center;
}
.right_column_text {
  text-align:left;
  margin:13px 10px 0 15px;
  }
#sale_boxes_div  {
	position:relative;
  left:10px;
  width:640px;
}
.sale_box {
  list-style-type:none;
  float:left;   
  margin: 0px 0 10px 0;
  padding:0px;
}
.sale_box li {
  list-style-type:none;
  float:left;   
  margin-right:10px;
  padding:0px;
}
#footer_div  {
overflow:hidden;

}

.page_bottom ul {
  position:absolute;
  left:355px;
	margin:16px 0 0 0; padding:0;
}
.page_bottom li  {
   float:left;
   list-style-type:none;
   color:#efefef;
/*   margin-right:100px;*/
}
.page_bottom li a  {
   text-decoration:none;
   color:#efefef
}
.page_bottom li a:hover  {
   color:#cccccc;
}
.page_bottom p  {
  margin:34px 0 2px 0; 
  color:#efefef; 
  text-align:center;
  font-size:10px;
}
.page_bottom p a  {
  text-decoration:none;
  color:#efefef;
  display:inline;
}
.page_bottom p a:hover {
  color:#cccccc;
}
#wgc  {
  display:block;
  text-align:center;
  margin:0 auto;
}

/*
	Slideshow
*/

#slides  {
	position:absolute;
	top:0px;
	left:0px;
	height:380px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

#container {
  position:relative;
  width:640px;
  height:378px;
}
.slides_container  {
	width:640px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide  {
	width:640px;
	height:270px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev  {
	position:absolute;
	top:344px;/* was 344 -> 107 */
	left:488px;/* was - 528 -> 39 */
	width:14px;
	height:20px;
	display:block;
	z-index:101;
	text-decoration:none; /* sz */
  font-size:18px;
  line-height:21px;
  color:#fff;
  text-align:center;
/*  background-image:url(../images/lt-btn.png);  */
/*  background-color:#888c97;   */
  background-color:#909494;
  opacity:0.7;
  filter:alpha(opacity=70);
}
#slides .prev {
  border-top:solid 2px #aaa;
  border-left:solid 2px #aaa;
  border-bottom:solid 2px #aaa;
}
#slides .next  {
	left:616px;/* was 585 */
  border-top:solid 2px #aaa;
  border-right:solid 2px #aaa;
  border-bottom:solid 2px #aaa;}

/*
	Pagination
*/

.pagination  {
  background-color:#AAA;
	margin:2px auto 0;
	padding:2px 1px 2px 1px; 
	opacity:0.7;
  filter:alpha(opacity=70);  
	/* sz below */
	position:absolute;
	top:342px;
	left:504px;	
	z-index:200;
}

.pagination li  {
	float:left;
	margin:0 1px;
	list-style:none;
	opacity:1;
  filter:alpha(opacity=100);

}

.pagination li a  {
	display:block;
  width:20px;
  height:20px;
	padding:0px;   /* was 12 sz*/
	line-height:20px;
/*	background-image:url(../img/pagination.png); */
/*  background-image:url(../img/pagination-btn.png); */
  background-color:#666;
	float:left;
	overflow:hidden;
	color:#fff;
  font-family:arial,sans-serif;
	font-size:14px;
	text-align:center;
	text-decoration:none;

}

.pagination li.current a  {
	/*background-position:0 -24px;  */  /* was -12 sz */
	background-color:#333 !important;
}
#pagination-bg  {
  /*background-image:url(../img/pagination-btn.png);*/
  position:relative;
  top:356px;
  left:477px;
  width:150px;
  height:20px;
  z-index:101;
}
/* Product Listings page */

#page_body_prod_listings_div {
  position:relative;
  width:951px;
  height:1507px;
  border-top:solid 1px black;
  padding:0px;
  margin:0px;
  background-image:url(../images/vertical-gradient.jpg);
}
#top_banner_div  {
  position:relative;
  background-repeat:repeat-x;
  margin:33px auto 0px;
  width:885px;
  height:50px;
  background:url(../images/top-banner-2.jpg) repeat-x;
}
#category_div {
  position:absolute;
  left:21px;
  top:10px;
  font-size:14px;
}
#cat1 {
  font-weight:bold;  
}
#search_label {
  position:absolute;
  left:9px;
  top:9px;
  font-size:19px;
  font-weight:bold;
	color:#333;
}

#advanced_search {
  position:absolute;
  left:10px;
  top:31px;
  font-size:10px;
	color:#333;
	font-family:tahoma;
}

#go_div {
  position:absolute;
  width:396px;
  height:26px;
  left:443px;
  top:10px;
  /* border:solid 1px black; */
}

#go_input {
  position:absolute;
  left:0px;  
  width: 335px; 
  color: #888;
  height:15px;
}
#go_btn {
  position: absolute; 
  top: -1px;
  left:361px; 
  width:37px; 
  height:25px;  
}

#input_search {width:375px; padding:1px 0 1px 0; font-family:arial, sans-serif;}

#search_breadcrumb {
	position:absolute;
  left:7px; top:54px;
  color: #222;
	font-size:12px;
	margin:0;
}

#search_breadcrumb a {color:#333; margin:0 3px;}

#back-to-search-results {
position:absolute;
top:84px;
color:#333; font-size:11px;
text-decoration:none;
}

#you-searched-for {
  position:absolute;
  top:70px; 
  left:4px;
  color:#333; font-size:14px;
}

#you-searched-for a {
  color:#333; 
  text-decoration:none;
}


#sort_by_div  {
  position:relative;
  margin:0 auto; width:885px;
  height:40px;
  background-color:#fff;
}
.sort_label {
  position:absolute;
  left:21px;
  top:13px;
  font-size:14px;
  font-weight:bold;
}
.sort_list {
  position:absolute;
  left:43px;
  top:-8px;
  list-style-type:none;
}
.sort_list li {
  float:left;
  margin-left:2px;
  color:#000;
}
.sort_list li a {
  text-decoration:none;
    color:#000;
    font-size:14px;
}
#all_items_div  {
  position:relative;
  margin:0 auto; width:885px;
	margin-top:9px;
  height:40px;
  background-color:#dbdce0;
}
.all_items_btn {
  position:absolute;
  left:21px;
  top:13px;
  font-size:14px;
  font-weight:bold;
}
.all_items_boxes {
  position:absolute;
  left:23px;
  top:13px;
}
.page_link_btn {
  width:22px;
  height:22px;
  text-decoration:none;
  border-right:1px solid #6c6c6c;
  border-bottom:1px solid #6c6c6c;
  border-left:1px solid #b0b0b0;
  border-top:1px solid #a6a6a6;
  color:#000;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  background-color:#e9e9e9;
}
.selected {
  font-weight:bold;
  background-color:#fff;
}
.per_page_label {
  position:absolute;
  left:145px;
  top:13px;
  font-size:14px;
  font-weight:bold;
  color:#525252;
}
.pages_label {
  float:left;
  font-size:14px;
  font-weight:bold;
  color:#525252;
  margin-right:5px;
  line-height:20px;
}
/*pagelinks begins*/
.pagelinks  {
  position: absolute;
  right: 19px;
  top: 7px;
  border: 0px solid red;
}
.page_num_container  {
/*  position: relative;     */
float:left;
  height: 21px;
  padding: 2px 1px 2px 3px;
  background-color: ;
  border: 0px solid #E9E9E9;
}
.page_num_box  {
  float: left;
  margin: 0 1px 0 1px;
  padding: 2px 3px 2px 3px;

/*  border: 0px solid #D9D9D9;  */
  font-weight: bold;

}
.page_num_box a  {
  color: #797a7e;
}
.page_num_box_inactive  {

/*  border: 0px solid #F0F0F0; */ 
}
.page_num_box_current  {

/*  border: 0px solid #A3A3A3; */
  color: #000000;
}
.page_num_box_current a {color:#000; text-decoration:none;}
/* pagelink ends */
.items_label {
  position:absolute;
  left:680px;
  top:13px;
  font-size:14px;
  font-weight:bold;
  color:#000;
}
.items_not_found {
  position:absolute;
  left:360px;
  top:140px;
  font-size:14px;
  font-weight:bold;
  color:#000;
}

.row_div  {
  position:relative;
  margin:0 auto;
  width:886px;
  height:220px;
}
.vertical_border_div  {
  width:0px;
  height:306px;
  border-left:1px dashed #838383;
/*  border-bottom:2px solid gray; */
  position:relative;
  background-color:white;
  float:left;
}
.product_div {
  position:relative;
  float:left;
  width:219px;
  height:306px;
/*  height:297px;   */
/*  border-bottom:6px solid #c8c8c8; */
  background-color:white;
}
.clearance_div  {
  position:absolute;
  left:5px;
  top:8px;
  width:82px;
  height:19px;
  background-color:#feefce;
  border:2px solid #ECDA54;
  z-index:+1;
}
.clearance_div span  {
  text-align:center;
  color:#cb532e;
  font-weight:bold;
  font-size:12px;
  padding-left:9px;
  line-height:19px;
} 
.product_image_div {
  position:absolute;
  left:36px;
  top:23px;
}
.product_title {
  width:210px;
  text-align:center;
  position:absolute;
  bottom:78px;
  left:5px;
  font-weight:bold;

}
.product_title a {
  text-decoration:none;
  color:#000;
}
.product_brand {
  width:210px;
  text-align:center;
  position:absolute;
  bottom:51px;
  left:5px;
}
.product_brand a {
  text-decoration:none;
  color:#000;
}
.special_label {
  text-align:left;
}

.special_price {
  text-align:center;
}

.special_msrpprice {
  text-align:right;
}

.special_product_price {
  position:relative;
  width:210px;
  height:21px;
  position:absolute;
  bottom:40px;
  left:5px;
  background-color:#ED1B24;
  color:white;
  line-height:22px;
  margin: 0 0;
  font-weight:bold;
  font-size:12px;
}
.product_price {
  width:210px;
  height:21px;
  text-align:center;
  position:absolute;
  bottom:40px;
  left:5px;
  background-color:#e9edf0;
  line-height:22px;
  margin: 0 0;
  font-weight:bold;
  font-size:14px;
}
.product_price_clearance  {
  width:210px;
  height:21px;
  text-align:center;
  position:absolute;
  bottom:40px;
  left:5px;
  background-color:#fdf7c7;
  line-height:22px;
  margin: 0 0;
  font-weight:bold;
  font-size:14px;
  color:#cb532e;
}
.product_details_div {
  position:absolute;
  width:210px;
  height:30px;
  left:5px;
  bottom:5px;
  background-color:#d3d8db;
}
.product_details_div_clearance  {
  position:absolute;
  width:210px;
  height:30px;
  left:5px;
  bottom:5px;
  background-color:#f6d470;
}
.details_btn_div {
  position:absolute;
  left:5px;
  top:5px;
  width:50px;
  height:21px;
  overflow:hidden;
}
.details_btn {
  position:relative;
  left:0px;
  top:0px;
/*  background: url("../images/submit-btn-rollover.jpg") no-repeat 0 0;  */
}
.details_btn:hover {
  left:0px;
  top:-21px;
}
.qty_label {
  position:absolute;
  left:65px;
  top:9px;
  color:#111;
}
.qty_in_cart {
  position:absolute;
  left:90px;
  top:5px;
  width:20px;
  height:18px;
  border:solid 1px #c8c8c8;
  background-color:#fff;
  text-align:center;
  line-height:18px;
  font-size:12px;
  color:#000;
}
.cart_btn_div {
  position:absolute;
  right:5px;
  top:5px;
  width:83px;
  height:21px;
  overflow:hidden;
}
.cart_btn {
  position:relative;
  left:0px;
  top:0px;
/*  background: url("../images/submit-btn-rollover.jpg") no-repeat 0 0;  */
}
.cart_btn:hover {
  left:0px;
  top:-21px;
}
.product_price_div {
  position:absolute;
  width:210px;
  height:21px;
  left:5px;
  bottom:39px;
  background-color:#e9edf0;
}
.row_bar_div  {
  width:885px;
  height:6px;
  color:#c8c8c8;
}
#all_items2_div  {
  position:relative;
  border-top:solid #fff 4px;
  margin:0 auto;width:885px;
  height:40px;
  background-color:#bfbfbf;
}
#sort_by2_div  {
  position:relative;
  margin:0 auto;width:885px;
  height:40px;
  background-color:#fff;
  border-bottom:solid #bfbfbf 10px;
}


#credit_div {
  position:relative;
  background-repeat:repeat-x;
  margin:0 auto;width:951px;
  height:66px;
  background-image:url(../images/bottom-gradient.jpg);
	display:none;
}
#credit_img {
  position:absolute;
  left:57px;
  top:21px;
}
#home_soc_media_links {
  position:absolute;
  left:694px;
  top:15px;
  list-style-type:none;
	margin:10px 0 0 20px; padding:0;

}
#home {
  text-decoration:none;
}
#home_soc_media_links li {
  float:left;
  margin-left:2px;
  color:#000;
  font-weight:bold;
}
#home_soc_media_links li a {
  font-size:14px;
	color:#000;
}
/* Product Detail page */
#go_btn2_div {
  position:relative;
  width:46px;
  height:22px;
  margin:0px auto;
  overflow:hidden;
  left:210px;
  bottom:22px;
}
#go_btn2 {
  position:absolute;
  top:0px;
  left:0px;
}
#go_btn2:hover {
    top: -22px;
}
#page_body_prod_detail_div {
  position:relative;
  width:951px;
  padding:0px;
  margin:0px;
  background-color:#fff;
}
#content_div {
  position:relative;
  margin:0 auto 0 auto;
  padding:5px 34px 0 34px;
	background-color:#fff;
/*  border:solid 1px black; */
}
#content_right_div {
  position:relative;
  float:right;
  width:140px;
  /*background-color:#f1f1f1;*/
  border:solid 1px #bdbdbd;
  text-align:center;
  padding:5px;
}

#content_right_div a {color:#222; text-decoration:none;}

#sub_heading_2 {
  font-weight:bold; font-size:14px;
  margin:5px 0 20px 0;
  text-align:center;
  color:#999;
}
#content_right_div img {
  /*border:solid 1px #bdbdbd;*/
}  
.recently_viewed_description {
  font-weight:bold;
  margin-top:7px;
  margin-bottom:15px;
  padding:0;
}
#content_mid_div {
  position:relative;
  float:right;
  width:350px;
  background-color:#fff;
/*  border:solid 1px green; */
  margin-right:70px;
}
#content_left_div {
  position:relative;
  float:left;
	overflow:hidden;
	width:300px;
/*  border:solid 1px black; */
}
#product_photo_div {
	overflow:hidden;
	clear:both;
  background-color:#fff;
  border:solid 1px #bdbdbd;
  float:left;
}
#product_info_div {
  width:350px;
  position:relative;
  float:right;
/*  border:solid 1px red; */
}
#product_info_div a { 
  color:#000;
  }
#product_info_div p { 
  font-family:arial, sans-serif;
  font-size:18px;
  font-weight:bold;
  }
#select_size {
  margin-left:0px;
  padding-left:0px;
  }
#select_size li {
  list-style:none;
  margin-left:0px;
  padding-left:0px;
}
#select_size select {
  width:150px;
  margin-top:5px;
  }
#select_size span {
  margin-left:20px;
  }
#add_to_cart_div {
  width:150px;
  height:30px;
  background-color:#d3d8db;
  position:relative;  
}
#add_to_cart_div span {
  position:absolute;
  left:7px;
  top:8px;
}
#product_quantity {
  width:20px;
  position:absolute;
  left:33px;
  top:5px;
  text-align:center; 
}
#add_to_cart_btn_div {
  position:relative;
  width:82px;
  height:21px;
  margin:5px auto;
  overflow:hidden;
  left:29px;
  top:5px;
}
#add_to_cart_btn {
  position:absolute;
  top:0px;
  left:0px;
}
#add_to_cart_btn:hover {
    top: -21px;
}
#more_views_div {
  float:left;
  margin-top:15px; 
  height:110px; 
  width:300px; 
  overflow-y:scroll;
}
#sub_heading_1 {
  font-weight:bold;
  position:relative;
  top:12px;
}
#more_views_div img {
  border:solid 1px #bdbdbd;
  margin-right:3px;
}
#tab_div {
  position:relative;
  float:left;
  width:710px; 
  margin-top:21px;
  /*margin-bottom:21px;*/
}
.tab_text {
  font-weight:bold;
  margin-top:2px;
  text-align:center;
}
.tab_text2 {
  font-weight:normal;
  margin-top:2px;
  text-align:center;
}
#description_tab {
  float:left;
  width:83px;
  height:21px;
  border-left:solid 1px #bdbdbd;
  border-top:solid 1px #bdbdbd;
  border-right:solid 1px #bdbdbd;
}
.tab_spacer_div {
  float:left;
  width:12px;
  height:21px;
  border-bottom:solid 1px #bdbdbd; 
}
#reviews_tab {
  float:left;
  width:179px;
  height:20px;
  border-left:solid 1px #bdbdbd;
  border-top:solid 1px #bdbdbd;
  border-right:solid 1px #bdbdbd;
  border-bottom:solid 1px #bdbdbd;
  background-color:#e6e7e9;
	display:none;
}
#reviews_tab ul {
  list-style-type:none;
  margin:2px 0 0 8px;
  padding:0;
}
#reviews_tab li {
  float:left;
}
#reviews_tab a {
  color:#000;
}
#product_tab {
  float:left;
  width:207px;
  height:20px;
  border-left:solid 1px #bdbdbd;
  border-top:solid 1px #bdbdbd;
  border-right:solid 1px #bdbdbd;
  border-bottom:solid 1px #bdbdbd;
  background-color:#e6e7e9;
	display:none;
}
#product_tab ul {
  list-style-type:none;
  margin:2px 0 0 14px;
  padding:0;
}
#product_tab li {
  float:left;
}
#product_tab a {
  color:#000;
}
#tab_spacer_wide_div {
  float:left;
  /*width:211px;*/ width:601px;
  height:21px;
  border-bottom:solid 1px #bdbdbd; 
}
#description_content_div {
  float:left;
  width:688px;
  border-left:solid 1px #bdbdbd;
  border-right:solid 1px #bdbdbd;
  border-bottom:solid 1px #bdbdbd;
	padding:12px 10px 28px 10px;
	margin-bottom:12px;
}
#description_content_div p {
	margin-bottom:26px;
	margin-right:10px;
	line-height:1.32;
}

#description_content_div a {color:#000;}

#cat2 {
  font-weight:bold;
  font-size:16px;
}

#select_category {
  position:absolute;
  left:100px;
  top:10px;
  width:156px;
  font-family:sans-serif;
	padding:1px 0;
}
#select_subcategory {
  position:absolute;
  left:272px;
  top:10px;
  width:156px;
  font-family:sans-serif;
	padding:1px 0;
	/*color:#888;*/
}

.product_price_msrp {
  height:21px;
  text-align:left;
  position:absolute;
  bottom:40px;
  left:135px;
  background-color:#e9edf0;
  color:gray;
  line-height:22px;
  margin: 0 0;
  font-weight:bold;
  font-size:14px;
  text-decoration :line-through;
}

/* Products List Page */

#form_product_listings {background-color:#fff; overflow:hidden;}
table table {border-style:solid; border-width:1px; border-color:#dbdce0;}
table table  tr td {border-style:solid; border-width:1px; border-color:#dbdce0;}

/* Filter and paginator panel */

.filters-and-paginator {overflow:hidden; background-color:#dbdce0; width:93.2%; margin:9px auto 5px auto;}
.bottom-one {margin:7px auto 22px auto;}
.filters-and-paginator div {float:left;}
.filters-and-paginator select {margin-left:8px; padding:1px 0; margin:0 0 0 4px;}
.current-items-range-and-total {font-weight:bold;}
.filters-and-paginator .sort-by {margin-left:42px; margin-top:4px;}
.show-items-per-page {margin-left:42px; margin-top:4px;}
.filters-and-paginator a {color:#777; margin:0 3px;}
.current-items-range-and-total {margin:8px 0 6px 11px;}
.filters-and-paginator .current-page {font-weight:bold; text-decoration:none; color:#222;}
.filters-and-paginator .paginator {float:right; margin:7px 6px 7px 0;}

/* cart page */
#cart-table {margin:0 auto; width:885px;}
#cart-table table {border:1px solid #dbdce0;}
#cart-table table table {border:none;}
#cart-table tr td {border:none;}
#cart-table table tr td{border:1px solid #dbdce0;}
#cart-table table table tr td {border:0px solid #eee; padding:5px 0 15px 0;}
#cart-table table table tr td img {margin:14px;}
#cart-table table table tr td p {margin:0; font-size:12px;}
#cart-table table table tr td small {font-size:12px;}
#cart-table table table tr td b {margin:5px 0; display:block;}
#cart-table table table tr td p b {margin:0 0 5px 0;}
#cart-table table table tr td input {font:normal 12px arial;}
#cart-table #product_photo_div {border:none;}
h3 {margin:0 auto; padding:0; width:885px; font-size:150%; padding:35px 0 20px 0;}
.search-panel-on-cart-page {height:50px !important;}
#total-items-in-cart {width:876px; margin:6px auto 10px auto; background-color:#d0d1d3;
 font:bold 14px arial, sans-serif; padding:6px 0 6px 9px;}
#continue-shopping {color:#222; font-size:13px; font-weight:normal; margin-left:40px;}
.check-out-now-button {position:absolute; right:34px; top:116px; display:block; width:157px; height:25px; padding:8px 0 0 25px; background:url("../images/check-out-button-bg.jpg") no-repeat 0 0; color:#222; text-decoration:none;
font-size:14px; font-weight:bold;}
a.check-out-now-button:hover {background:url("../images/check-out-button-bg.jpg") no-repeat 0 -33px ;}
#price-summary-and-estimates {float:right; margin:0; border:2px solid #d0d1d3; width:88%;}
#price-summary-and-estimates p {margin:0;}
#price-summary-and-estimates h3 {width:100%; font:bold 15px arial, sans-serif; padding:3px 0 3px 2px; background-color:#d0d1d3;}
#estimates {background-color:#f1f1f1;}

#estimates p {padding-left:5px;}
#estimates h3 {margin-bottom:8px;}
#estimates div {margin-top:18px; padding-bottom:9px;}
#estimates div p input {margin-left:0; position:relative; top:1px;}
#estimated-shipping, #estimated-tax, #estimated-total, #subtotal {border-top:2px solid #d0d1d3; padding:11px 80px 10px 0; background-color:#f1f1f1; text-align:right;}
#estimated-shipping span, #estimated-tax span, #estimated-total span, #subtotal span {position:absolute; right:40px;}
#estimated-total {border-top:4px solid #d0d1d3; background-color:#fae8c0; font-weight:bold;}
#subtotal {background-color:#fae8c0; font-weight:bold;}
.check-out-now-button-second-one {position:static !important; float:right; margin-top:20px; font-weight:bold;}
#customers-also-bought {display:none; border:2px solid #dbdce0; overflow:hidden; width:66.5%; margin:20px 0 40px 32px;}
#customers-also-bought h4 {text-transform:uppercase; color:#999; font-size:14px; line-height:1; margin:8px 0 15px 8px;}
#customers-also-bought p {margin:0; padding:0 2% 6px 2%; width:20.9%; float:left; text-align:center;}
#customers-also-bought p a {color:#222; font:bold 12px arial, sans-serif; text-decoration:none;}
#customers-also-bought p img {margin:0 auto 5px auto;  display:block;}

.remove-button {padding:0; margin:0; border:0; background:none; background:url("../images/cart-remove-button.png") no-repeat 0 0; color:#c21d2e; line-height:1; cursor:pointer; width:60px; height:21px;}
.update-button {padding:0; position:relative; top:1px; border:0; background:url("../images/update-aligned.png") no-repeat 0 0; cursor:pointer; width:50px; height:21px;}
.update-button:hover {background-position:0 -21px;}
.submit-button {padding:0; position:relative; top:0px; border:0; background:url("../images/submit-aligned.png") no-repeat 0 0; cursor:pointer; width:50px; height:21px;}
.submit-button:hover {background-position:0 -21px;}

.submit-order-and-pay {padding:0; position:relative; top:0px; border:0; background:url("../images/submitorderpayment-aligned.png") no-repeat 0 0; cursor:pointer; width:220px; height:22px;}
.submit-order-and-pay:hover {background-position:0 -22px;}

.change-button {padding:0; position:relative; top:1px; border:0; background:url("../images/change-aligned.png") no-repeat 0 0; cursor:pointer; width:50px; height:21px; position:absolute; left:188px; top:12px;}
.change-button:hover {background-position:0 -21px;}
 {}
.continue-button {padding:0; position:relative; top:1px; border:0; background:url("../images/continue-aligned.png") no-repeat 0 0; cursor:pointer; width:130px; height:22px;}
.continue-button:hover {background-position:0 -22px;}
.login-button {padding:0; position:relative; top:1px; border:0; background:url("../images/login-aligned.png") no-repeat 0 0; cursor:pointer; width:130px; height:22px;}
.login-button:hover {background-position:0 -22px;}

#btn_SaveReviewOrder {padding:0; position:relative; top:1px; border:0;
 background:url("../images/saverevieworder-aligned.png") no-repeat 0 0; cursor:pointer; width:158px; height:22px;}
#btn_SaveReviewOrder:hover {background-position:0 -22px;}

#btn_MakePayment {padding:0; position:relative; top:1px; border:0; margin-top:.5em;
 background:url("../images/makepayment-aligned.png") no-repeat 0 0; cursor:pointer; width:175px; height:32px;}
#btn_MakePayment:hover {background-position:0 -32px;}



/* modal winndow popup */

#div_cart_info {position:fixed; z-index:100; background-color:white; top:50%; left:50%; margin-left:-120px; margin-top:-96px; border:2px solid #999; overlow:hidden; width:240px; height:200px;}
#div_cart_info p {margin:0; text-align:center;}
#div_cart_info .check-out-now-button {right:27px; top:152px;}
#modal-window-close-button {cursor:pointer; position:absolute; top:4px; right:6px;}
p#span_action {margin:34px 0 14px 0; font-weight:bold; font-size:14px;}
p#span_cart_info {margin-bottom:3px;}
#view-cart-link a {background:url("../images/cart-icon.png") no-repeat 0 0; padding-left:22px; color:#222;}
p#click-anywhere {margin-top:19px; color:#e1ab40; font-size:11px;}


.when-search-applied {height:104px !important}

/* checkout section */

#customer-step, #shipping-billing-step, #review-order-step, #payment-step li {background:url("../images/checkout-active-step.jpg") no-repeat 0 156px;}

 {}

.checkout-section	h1 {font-size:150%; color:#222; margin:36px 0 20px 32px;}
.checkout-section	h2 {font:normal 100% arial,sans-serif; color:#222; background:#f8d37a url("../images/checkout-h2.jpg") no-repeat right 0; margin:0 6px 0 28px; float:left;
	 width:272px; height:36px; padding:16px 0 4px 14px; line-height:1.1;
	 }
	#checkout-steps-head {float:left; width:100%; overflow:hidden; margin-bottom:10px;}
	#checkout-steps-head ul {margin:0; padding:0;}
	#checkout-steps-head ol li {float:left; margin:0 6px; list-style:none; height:81px;}
	#checkout-steps-head ol li a {display:block; height:36px; padding-top:20px; width:140px;
		background-color:#fdf2de; text-align:center; text-decoration:none; color:#333;
		font:bold 115% arial,sans-serif;}

/* special page */

.special {display:none;}

.styled_radio {
   list-style:none;
   margin-left: 5px; 
}