/* CSS Document */

/*Header*/
body {
  margin:0 auto 0 auto;
  font-family:arial, sans-serif;
  font-size:12px;
  font-weight:normal;
  text-decoration:none;
  background-color:#564949;
  text-align:center;
/*  background:#000 url(../images/body-bg.jpg) repeat top;*/
  background:#000 url(../images/roc-background-1228-A-2.jpg) repeat top;
}
#wrapper_div {
  font-family:arial, sans-serif;
  position:relative;
  width:951px;
  margin:0px auto 0 auto;
  text-align:left;
/*  background:#FFF; */
}
#header_div {
  position:relative;
  width:951px;
  height:150px;
  /* border:solid 1px black;*/
  background-color:#4C5262;
  background-image:url(../images/header-bg-slice.jpg);
  background-repeat:repeat-x;
  padding:0px;
  margin:0px;
}
#logo_div {
  position:absolute;
  width:426px;
  height:152px;
  left:0px;
  top:0px;
  /*border:solid 1px black;*/
}
#cart-div {
  position:relative;
  width:488px;
  height:30px;
  left:446px;
  top:0px;
/*  background-image:url(../images/cart-bg.jpg);  */
  }
#cart-div a:hover {
  color:#7c7c7c;
}
#sign_in_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  overflow:hidden;
}
#sign-in {
  position:absolute;
  left:0px;
  top:0px;
  font-size:14px;
  display:block;
}
#sign-in:hover {
  top:-31px;
}
#sign_in_text {
  position:absolute;
  left:56px;
  top:6px;
  font-size:14px;
}
#shop_cart_div {
  position:absolute;
  left:141px;
  top:0px;
  font-size:14px;
  text-decoration:none;
  height:30px;
  overflow:hidden;
  width:145px; 
}
#shop-cart {
  position:relative;
  left:0px;
  top:0px;
  font-size:14px;
  display:block; 
}
#shop-cart:hover {
  top:-31px;
}
#items_div {
  position:absolute;
  left:286px;
  top:0px;
  width:202px;
  height:30px;
  background:url(../images/items-bg.jpg);
    
}
#number-items {
  position:absolute;
  left:25px;
  top:7px;
  font-size:14px;
  text-decoration:none;
  color:#000; 
}
#bullet {
  position:absolute;
  left:94px;
  top:13px;
  font-size:14px;
  text-decoration:none;
  color:#000; 
}
#total-cost {
  position:absolute;
  left:118px;
  top:7px;
  font-size:14px;
  text-decoration:none;
  color:#000; 
}
#fb_btn_div {
  position:absolute;
  width:117px;
  height:31px;
  left:447px;
  top:48px
  /* border:solid 1px black;*/
}
#fbook-btn {
  position:absolute;
  left:0px;
}
#fb_btn_div a:hover img {
  visibility:hidden;
}
#twitter-btn {
  position:absolute;
  left:38px;
}
#youtube-btn {
  position:absolute;
  left:77px;
}
#email_div {
  position:relative;
  width:212px;
  height:21px;
  left:447px;
  top:85px;
  background-color:#d6d6d6;
}
#ml_email {
/*  margin-left:2px; */
  position:absolute;
  left:1px;
  top:1px;
  font-size:11px; 
  height:14px;
  width:157px;
  color:#888;
/*  vertical-align:middle;*/
}

#email_btn_div {
  position:relative;
  left:164px;
  top:2px;
  width:45px;
  height:17px;
  overflow:hidden;
}
#email_btn {
  position:relative;
  left:0px;
  top:0px;
/*  background: url("../images/submit-btn-rollover.jpg") no-repeat 0 0;  */
}
#email_btn:hover {
  left:0px;
  top:-17px;
}
#search_div {
  position:absolute;
  width:262px;
  height:26px;
  left:677px;
  top:85px;
  /* border:solid 1px black; */
}
#search_input {
  position:absolute:
  left:0px;  
  width: 231px; 
  color: #888;
}
#search_btn {
  position: absolute; 
  bottom: 3px; 
  width: 25px; 
  height: 25px; 
}
#select_category {
  position:absolute;
  left:84px;
  bottom:11px;
  width:186px;
  font-family:sans-serif;
}
#select_subcategory {
  position:absolute;
  left:284px;
  bottom:11px;
  width:186px;
  font-family:sans-serif;
}

#category_txt {
  position:absolute;
  width:263px;
  left:677px;
  top:115px;
  color: #888;
}
#sign_up_txt {
  position:absolute;
  left:447px;
  top:95px;
  font-size:14px;
  color:#F4F6F5;
}
#help_txt {
  position:absolute;
  left:576px;
  top:50px;
  font-size:18px;
  color:#FDC53C;
}
/* menu starts */
a img {
  border:none;
}
#menu_div {
  position:relative;
  left:0px;
  top:0px;
  width:951px;
  height:27px;
/*  background-image:url('../images/menu-bg-2.jpg');
  background-repeat:no-repeat; */
}
#menu_ul {
  position:relative;
  float:left;
  margin: 0px;
  text-align:left;
  padding:0px;
}
#inline1 {
  display:block;
  margin:0px;
  padding:0px;  
  float:left;
  margin-top:0px;
  text-align:left;
  border-left:none!important;
}
#inline1  a:hover img {
  visibility:hidden;
}
#menu_ul li {
  display:block;
  margin:0px;
  padding:0px;  
  float:left;
  margin-top:0px;
  text-align:left;
  border-left:solid 1px; #000;
}
#menu_ul li  html a:hover  {
  visibility:invisible;
}
#menu_ul li a:hover img {
  visibility:hidden;
}
#menu_ul img {
  vertical-align:middle;
}
/* page */
#page_body_div {
  position:relative;
  color:#000;
  width:951px;
  height:1262px;
  padding:0px;
  margin:0px;
  background-color:#fff;
}
/* left column with product buttons */
#left_column_products_div {
  width:300px;
}
.product_buttons_ul {
  position:relative;
  float:left;
  margin: 0px;
  text-align:left;
  padding:0px;
}
.product_btn {
  display:block;
  margin:10px 0 0 12px;
  padding:0px;  
  float:left;
  text-align:left;
  border-left:none!important;
  height:85px;
}
.product_btn  a:hover img {
  visibility:hidden;
}
#download_catalog_btn {
  display:block;
  margin:10px 0 0 12px;
  padding:0px;  
  float:left;
  text-align:left;
  border-left:none!important;
  height:65px;
}
#download_catalog_btn a:hover img {
  visibility:hidden;
}
#product-support-videos {
  display:block;
  margin:10px 0 0 14px;
  padding:0px;  
  float:left;
  text-align:left;
  border-left:none!important;
  width:276px;
  height:68px;
  margin-bottom:7px;
}
#product-support-videos h2 {
  color:#fff;
  text-align:center;
  font-size:20px;
  margin-top:10px;

}
.video_1 {
  display:block;
  margin:3px 0 0 12px;   
  padding:0px;  
  margin-left:12px;
  text-align:left;
  border-left:none!important;
}
#click-here-for-more-videos  {
  display:block;
  margin:7px 0 0 12px;
  padding:0px;  
  float:left;
  text-align:left;
  border-left:none!important;
  width:277px;
  height:34px;
}
#click-here-for-more-videos span {
  color:#fff;
  display:block;
  text-align:center;
  font-size:17px;
  margin-top:5px;
}
#click-here-for-more-videos a {
  text-decoration:none;
}
/* Home Page */
#right_column_div {
  position:relative;
  float:right;
  width:640px;
  height:378px;
  margin:10px 10px 0 0;
  text-align:center;
}
.right_column_text {
  text-align:left;
  margin:13px 10px 0 15px;
  }
#sale_boxes_div  {
  position:absolute; 
  left:10px; 
    top:753px; 
      width:640px;
}
.sale_box {
  list-style-type:none;
  float:left;   
  margin: 0px 0 0 0;  
  padding:0px;
}
.sale_box li {
  list-style-type:none;
  float:left;   
  margin-right:10px;
  padding:0px;
}
#footer_div  {
  margin-top:0px;


}
.page_bottom ul {
  position:absolute;
  left:242px;
}
.page_bottom li  {
   float:left;
   list-style-type:none;
   color:#efefef;
/*   margin-right:100px;*/
}
.page_bottom li a  {
   text-decoration:none;
   color:#efefef
}
.page_bottom li a:hover  {
   color:#cccccc;
}
.page_bottom p  {
  margin:34px 0 2px 0; 
  color:#efefef; 
  text-align:center;
  font-size:10px;
}
.page_bottom p a  {
  text-decoration:none;
  color:#efefef;
  display:inline;
}
.page_bottom p a:hover {
  color:#cccccc;
}
#wgc  {
  display:block;
  text-align:center;
  margin:0 auto;
}

/*
	Slideshow
*/

#slides  {
	position:absolute;
	top:0px;
	left:0px;
	height:380px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

#container {
  position:relative;
  width:640px;
  height:378px;
}
.slides_container  {
	width:640px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide  {
	width:640px;
	height:270px;
	display:block;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev  {
	position:absolute;
	top:344px;/* was 107 */
	left:484px;/* was - 39 */
	width:14px;
	height:20px;
	display:block;
	z-index:101;
	text-decoration:none; /* sz */
  font-size:18px;
  line-height:21px;
  color:#fff;
  text-align:center;
/*  background-image:url(../images/lt-btn.png);  */
/*  background-color:#888c97;   */
  background-color:#909494;
  opacity:0.7;
  filter:alpha(opacity=70);
}
#slides .prev {
  border-top:solid 2px #aaa;
  border-left:solid 2px #aaa;
  border-bottom:solid 2px #aaa;
}
#slides .next  {
	left:612px;/* was 585 */
  border-top:solid 2px #aaa;
  border-right:solid 2px #aaa;
  border-bottom:solid 2px #aaa;}

/*
	Pagination
*/

.pagination  {
  background-color:#AAA;
	margin:2px auto 0;
	padding:2px 1px 2px 1px; 
	opacity:0.7;
  filter:alpha(opacity=70);  
	/* sz below */
	position:absolute;
	top:342px;
	left:500px;	
	z-index:200;
}

.pagination li  {
	float:left;
	margin:0 1px;
	list-style:none;
	opacity:1;
  filter:alpha(opacity=100);

}

.pagination li a  {
	display:block;
  width:20px;
  height:20px;
	padding:0px;   /* was 12 sz*/
	line-height:20px;
/*	background-image:url(../img/pagination.png); */
/*  background-image:url(../img/pagination-btn.png); */
  background-color:#666;
	float:left;
	overflow:hidden;
	color:#fff;
  font-family:arial,sans-serif;
	font-size:14px;
	text-align:center;
	text-decoration:none;

}

.pagination li.current a  {
	/*background-position:0 -24px;  */  /* was -12 sz */
	background-color:#333 !important;
}
#pagination-bg  {
  /*background-image:url(../img/pagination-btn.png);*/
  position:relative;
  top:356px;
  left:477px;
  width:150px;
  height:20px;
  z-index:101;
}
/* Product Listings page */

#page_body_prod_listings_div {
  position:relative;
  width:951px;
  border-top:solid 1px black;
  padding:0px;
  margin:0px;
  background-image:url(../images/vertical-gradient.jpg);
}
#top_banner_div  {
  position:relative;
  background-repeat:repeat-x;
  margin:0 auto;width:885px;
  height:84px;
  background-image:url(../images/top-banner.jpg);
}
#category_div {
  position:absolute;
  left:21px;
  top:10px;
  font-size:14px;
}
#cat1 {
  font-weight:bold;  
}
#search_label {
  position:absolute;
  left:21px;
  top:55px;
  font-size:14px;
  font-weight:bold;
}
#go_div {
  position:absolute;
  width:359px;
  height:26px;
  left:294px;
  top:50px;
  /* border:solid 1px black; */
}
#input_search {
  position:absolute;
  left:190px;  
  width: 350px; 
  color: #888;
  height:20px;
}
#go_btn {
  position: absolute; 
  bottom: 0px;
  left:551px; 
  width:37px; 
  height:25px;  
}
#sort_by_div  {
  position:relative;
  margin:0 auto;width:885px;
  height:40px;
  background-color:#fff;
}
.sort_label {
  position:absolute;
  left:21px;
  top:13px;
  font-size:14px;
  font-weight:bold;
}
.sort_list {
  position:absolute;
  left:43px;
  top:2px;
  list-style-type:none;
}
.sort_list li {
  float:left;
  margin-left:2px;
  color:#000;
}
.sort_list li a {
  text-decoration:none;
    color:#000;
    font-size:14px;
}
#all_items_div  {
  position:relative;
  border-top:solid #646464 1px;
  margin:0 auto;width:885px;
  height:40px;
  background-color:#bfbfbf;
}
.all_items_btn {
  position:absolute;
  left:21px;
  top:13px;
  font-size:14px;
  font-weight:bold;
}
.all_items_boxes {
  position:absolute;
  left:23px;
  top:13px;
}
.page_link_btn {
  width:22px;
  height:22px;
  text-decoration:none;
  border-right:1px solid #6c6c6c;
  border-bottom:1px solid #6c6c6c;
  border-left:1px solid #b0b0b0;
  border-top:1px solid #a6a6a6;
  color:#000;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  background-color:#e9e9e9;
}
.selected {
  font-weight:bold;
  background-color:#fff;
}
.per_page_label {
  position:absolute;
  left:130px;
  top:13px;
  font-size:14px;
  font-weight:bold;
  color:#525252;
}
.pages_label {
  float:left;
  font-size:14px;
  font-weight:bold;
  color:#525252;
  margin-right:5px;
  line-height:20px;
}
/*pagelinks begins*/
.pagelinks  {
  position: absolute;
  right: 19px;
  top: 7px;
  border: 0px solid red;
}
.page_num_container  {
/*  position: relative;     */
float:left;
  height: 21px;
  padding: 2px 1px 2px 3px;
  background-color: #bfbfbf;
  border: 0px solid #E9E9E9;
}

.page_num_box  {
  float: left;
  margin: 0 1px 0 1px;
  padding: 2px 3px 2px 3px;
  background-color: #eaeaea;
/*  border: 0px solid #D9D9D9;  */
  font-weight: bold;
  border-right:1px solid #6c6c6c;
  border-bottom:1px solid #6c6c6c;
  border-left:1px solid #b0b0b0;
  border-top:1px solid #a6a6a6;
}
.page_num_box a  {
  text-decoration: none;
  color: #404040;
}
.page_num_box_inactive  {
  background-color: #F0F0F0;
/*  border: 0px solid #F0F0F0; */ 
}
.page_num_box_current  {
  background-color: #ffffff;
/*  border: 0px solid #A3A3A3; */
  color: #000000;
}
/* pagelink ends */
.items_label {
  position:absolute;
  left:680px;
  top:13px;
  font-size:14px;
  font-weight:bold;
  color:#000;
}
.row_div  {
  position:relative;
  margin:0 auto;
  width:886px;
  height:220px;
}
.vertical_border_div  {
  width:0px;
  height:306px;
  border-left:1px dashed #838383;
/*  border-bottom:2px solid gray; */
  position:relative;
  background-color:white;
  float:left;
}
.product_div {
  position:relative;
  width:220px;
  height:306px;
/*  height:297px;   */
/*  border-bottom:6px solid #c8c8c8; */
  background-color:white;
  border:0px dotted green;
}
.clearance_div  {
  position:absolute;
  left:5px;
  top:8px;
  width:82px;
  height:19px;
  background-color:#feefce;
  border:2px solid #ECDA54;
  z-index:+1;
}
.clearance_div span  {
  text-align:center;
  color:#cb532e;
  font-weight:bold;
  font-size:12px;
  padding-left:9px;
  line-height:19px;
} 
.product_image_div {
  position:absolute;
  left:36px;
  top:23px;
  align:center;
}
.product_title {
  width:210px;
  text-align:center;
  position:absolute;
  bottom:78px;
  left:5px;
  font-weight:bold;
}
.product_title a {
  text-decoration:none;
  color:#000;
}
.product_brand {
  width:210px;
  text-align:center;
  position:absolute;
  bottom:51px;
  left:5px;
}
.product_brand a {
  text-decoration:none;
  color:#000;
}
.product_price {
  width:210px;
  height:21px;
  text-align:center;
  position:absolute;
  bottom:40px;
  left:5px;
  background-color:#e9edf0;
  line-height:22px;
  margin: 0 0;
  font-weight:bold;
  font-size:14px;
}

.product_price_msrp {
  height:21px;
  text-align:left;
  position:absolute;
  bottom:40px;
  left:135px;
  background-color:#e9edf0;
  color:gray;
  line-height:22px;
  margin: 0 0;
  font-weight:bold;
  font-size:14px;
  text-decoration :line-through;
}

.product_price_clearance  {
  width:210px;
  height:21px;
  text-align:center;
  position:absolute;
  bottom:40px;
  left:5px;
  background-color:#fdf7c7;
  line-height:22px;
  margin: 0 0;
  font-weight:bold;
  font-size:14px;
  color:#cb532e;
}
.product_details_div {
  position:absolute;
  width:210px;
  height:30px;
  left:5px;
  bottom:5px;
  background-color:#d3d8db;
}
.product_details_div_clearance  {
  position:absolute;
  width:210px;
  height:30px;
  left:5px;
  bottom:5px;
  background-color:#f6d470;
}
.details_btn_div {
  position:absolute;
  left:5px;
  top:5px;
  width:50px;
  height:21px;
  overflow:hidden;
}
.details_btn {
  position:relative;
  left:0px;
  top:0px;
/*  background: url("../images/submit-btn-rollover.jpg") no-repeat 0 0;  */
}
.details_btn:hover {
  left:0px;
  top:-21px;
}
.qty_label {
  position:absolute;
  left:65px;
  top:9px;
  color:#595a5c;
}
.qty_in_cart {
  position:absolute;
  left:90px;
  top:5px;
  width:20px;
  height:18px;
  border:solid 1px #c8c8c8;
  background-color:#fff;
  text-align:center;
  line-height:18px;
  font-size:12px;
  color:#000;
}
.cart_btn_div {
  position:absolute;
  right:5px;
  top:5px;
  width:83px;
  height:21px;
  overflow:hidden;
}
.cart_btn {
  position:relative;
  left:0px;
  top:0px;
/*  background: url("../images/submit-btn-rollover.jpg") no-repeat 0 0;  */
}
.cart_btn:hover {
  left:0px;
  top:-21px;
}
.product_price_div {
  position:absolute;
  width:210px;
  height:21px;
  left:5px;
  bottom:39px;
  background-color:#e9edf0;
}
.row_bar_div  {
  width:885px;
  height:6px;
  color:#c8c8c8;
}
#all_items2_div  {
  position:relative;
  border-top:solid #fff 4px;
  margin:0 auto;width:885px;
  height:40px;
  background-color:#bfbfbf;
}
#sort_by2_div  {
  position:relative;
  margin:0 auto;width:885px;
  height:40px;
  background-color:#fff;
  border-bottom:solid #bfbfbf 10px;
}
#credit_div {
  position:relative;
  background-repeat:repeat-x;
  margin:0 auto;width:951px;
  height:66px;
  background-image:url(../images/bottom-gradient.jpg);
}
#credit_img {
  position:absolute;
  left:57px;
  top:21px;
}
#home_soc_media_links {
  position:absolute;
  left:694px;
  top:15px;
  list-style-type:none;
}
#home {
  text-decoration:none;
}
#home_soc_media_links li {
  float:left;
  margin-left:2px;
  color:#000;
  font-weight:bold;
}
#home_soc_media_links li a {
  color:#000;
  font-size:14px;
}