#menu_div {
  display:none;
}
#cart-div {
  display:none;
}
#fb_btn_div {
  display:none;
}
#sign_up_txt {
  display:none;
}
#help_txt {
  display:none;
}
#email_div {
  display:none;
}
#search_div {
  display:none;
}
#category_txt {
  display:none;
}
#main_heading2 {
  display:none;
}
#span_print_buttons {
  display:none;
}
#fb_btn2_div {
  display:none;
}
.page_bottom ul {
  display:none;
}
#wgc {
  display:none;
}
